@media screen and (max-width: 390px) {

  #contato p,
  #sobre p,
  li {
    font-size: clamp(0.6rem, 2vw, 1rem);
  }

  h1 {
    font-size: clamp(1rem, 3.1vw, 1.5rem);
  }

  h2 {
    font-size: clamp(0.5rem, 3vw, 1rem);
  }

  h3 {
    font-size: clamp(0.5rem, 3vw, 1rem);
  }

  #local iframe {
    width: 100%;

    height: 200px;
  }


}



/* Dispositivos com largura de tela de até 480 pixels */
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }

  .menu-button {
    display: flex;
  }

  p {
    font-size: 85%;
  }

  footer {
    flex-direction: column;
    gap: 2%;
    padding: 2%;
  }

  footer div+div {
    border-top: 1px solid whitesmoke;
  }

  footer div {
    width: 100%;
  }

  footer ul {
    padding: 2%;
  }

  footer li {
    display: flex;
    gap: 5%;
    font-size: 85%;
    list-style: none;
  }
}

/* Dispositivos com largura de tela entre 481 e 768 pixels */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav {
    display: none;
  }

  .menu-button {
    display: flex;
  }
}

/* Dispositivos com largura de tela entre 769 e 1024 pixels */
@media screen and (min-width: 769px) and (max-width: 1024px) {}


/* Dispositivos com largura de tela entre 1025 e 1440 pixels */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .headerClose {
    top: -18%;
  }

  .logo {
    width: 40%;
  }

  .navSideBar {
    width: 40%;
  }

  .loginSideBar {
    width: 40%;
  }
}

/* Dispositivos com largura de tela superior a 1440 pixels */
@media screen and (min-width: 1441px) {

  /* Estilos para dispositivos com largura de tela superior a 1440 pixels */
  .headerClose {
    top: -18%;
  }

  .logo {
    width: 40%;
  }

  .login {
    width: 20%;
    font-size: 160%;
  }
}