/*Media queries para responsividade*/
@media only screen and (max-width: 275px) {
  .login {
    visibility: hidden;
  }
  .logo {
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 80%;
  }

  .nav {
    display: none;
  }

  .menu-button {
    display: flex;
  }

  .navSideBar {
    width: 100%;
  }
  .loginSideBar {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .headerClose {
    top: -15%;
  }

  .logo {
    width: 40%;
  }

  .navSideBar {
    width: 60%;
  }

  .loginSideBar {
    width: 60%;
  }
}

@media only screen and (min-width: 1025px) {
  .headerClose {
    top: -20%;
  }
  .logo {
    width: 50%;
  }

  .navSideBar {
    width: 40%;
  }

  .loginSideBar {
    width: 40%;
  }
}